<div class="example-container">
  <mat-label class="label">{{ veTitle }}</mat-label>
  <mat-form-field appearance="outline" (click)="startEdit()">
    <input matInput [formControl]="viewEdit" required autocomplete="off"/>
  </mat-form-field>
  <ng-container *ngIf="editing">
    <div class="buttons">
      <span></span>
      <button mat-icon-button color="primary" (click)="onSave()">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
